sonar.jdbc.username={{sonar_jdbc_username}}
sonar.jdbc.password={{sonar_jdbc_password}}
sonar.jdbc.url=jdbc:postgresql://{{sonar_jdbc_host}}:{{sonar_jdbc_port}}/{{sonar_jdbc_ddbb}}

#sonar.jdbc.url=jdbc:sqlserver://localhost;databaseName=sonar;integratedSecurity=true

#sonar.jdbc.url=jdbc:sqlserver://localhost;databaseName=sonar

#sonar.jdbc.maxActive=60

#sonar.jdbc.maxIdle=5

#sonar.jdbc.minIdle=2
#sonar.jdbc.maxWait=5000

#sonar.jdbc.minEvictableIdleTimeMillis=600000
#sonar.jdbc.timeBetweenEvictionRunsMillis=30000

#sonar.web.javaOpts=-Xmx512m -Xms128m -XX:+HeapDumpOnOutOfMemoryError

#sonar.web.host=0.0.0.0

#sonar.web.port=9000

#sonar.web.http.maxThreads=50
#sonar.web.http.minThreads=5

#sonar.web.http.acceptCount=25

#sonar.auth.jwtBase64Hs256Secret=

#sonar.web.sessionTimeoutInMinutes=4320

#sonar.web.systemPasscode=

#sonar.web.sso.enable=false

#sonar.web.sso.loginHeader=X-Forwarded-Login

#sonar.web.sso.nameHeader=X-Forwarded-Name

#sonar.web.sso.emailHeader=X-Forwarded-Email

#sonar.web.sso.groupsHeader=X-Forwarded-Groups

#sonar.web.sso.refreshIntervalInMinutes=5

sonar.search.javaOpts=-Xmx512m -Xms512m -XX:MaxDirectMemorySize=256m -XX:+HeapDumpOnOutOfMemoryError

#sonar.log.level=INFO

#sonar.path.logs=logs

#sonar.log.rollingPolicy=time:yyyy-MM-dd

#sonar.log.maxFiles=7

#sonar.web.accessLogs.enable=true

#sonar.web.accessLogs.pattern=%i{X-Forwarded-For} %l %u [%t] "%r" %s %b "%i{Referer}" "%i{User-Agent}" "%reqAttribute{ID}"
#sonar.web.accessLogs.pattern=%h %l %u [%t] "%r" %s %b "%i{Referer}" "%i{User-Agent}" "%reqAttribute{ID}"

#sonar.path.data=data
#sonar.path.temp=temp

#sonar.telemetry.enable=true
